@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    background-color: black;
}
section {
    max-width: 500px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}
section h1 {
    font-size: 23px;
    text-align: center;
}
.cabecalho {
    background-image: url('https://wallpaperaccess.com/full/305929.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border-radius: 30px;
    height: 100px;
}
.perfil-image {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    border: 10px solid rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(-50%);
    background-color: white;
}
 .conteiner {
    background-color: rgb(209, 209, 209);
    color: black;
    border-radius: 30px;
    padding: 25px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: black;
}
a :hover {
    color: #00949e;
    
}
.info {
    text-align: center;
}
.info p {
    font-size: 15px;
}
ol {text-decoration: none;}